.redes {
  font-family: 'Orbitron', sans-serif;
  font-size: 20px;
  list-style: none;
  color: #3f4041;
  align-items: center; }
  .redes li a {
    color: #3f4041;
    text-decoration: none; }

.navbar, h1, h2, .direccion, footer, .horarios {
  font-family: 'Orbitron', sans-serif;
  color: #3f4041; }

.titnoti {
  text-align: center; }

h2 {
  font-size: 5rem; }

h2 {
  font-size: 2rem; }

h3 {
  font-size: 1.5rem;
  color: grey; }
