.principal{
    background-image: url(../assets/fondo1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #464646;
}

.navbar{
    font-size: 20px ;
    border-radius: 5px;
}

.direccion{
    font-weight: bold;
    text-align: center;
}

footer{
    text-align: center;
    font-weight: 700;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 1px;
    background-color: #3f4041 ;
    border-radius: 5px;
    color: rgba(255,255,255,.5);
    }

.horarios{
    list-style: none;
    font-style: italic;
    padding-left: 20px;
    text-align: center;
}

.carousel-item img{
    width:640px;
    height:480px;
}

.formulario{
    display: block;
    max-width: 800px;
    margin: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.contacto{
    text-align: center;
}

.borde{
    border-radius: 10px;
}

.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.redessociales li{
    display: inline;
}

.redessociales li a{
    color: #3f4041;
}

.redes li a{
    text-decoration: none;
    color: #3f4041;
}

.tituloprincipal a{
    color: #3f4041;
    text-decoration: none;
}

.imgserv{
    width:100px;
    height:100px;
}

.listserv{
    text-align: left;
}

.imaca{
    border-radius: 5px;
}

.logo{
    width: 200px;
    height: 200px;
}

















